@font-face {
	font-family: 'inputMonoCompressed';
  	src: url('/fonts/InputMonoCompressed-Regular.ttf')  format('truetype');
}

@font-face {
	font-family: 'Fira Sans';

}

@mixin fontFiraLight($color) {
	font-family: 'Fira Sans';
	font-weight: 300;
}


@mixin fontFiraBlack($color) {
	font-family: 'Fira Sans';
	font-weight: 900;
}

@mixin fontFiraReg($color) {
	font-family: 'Fira Sans';
	font-weight: 400;
}


body {
	position: relative;
	width: 100vw;
	height: 100vh;

	#overlay {
		display :block;
		width: 100vw;
		height: 70vh;
		background: blue;
		position: absolute;
		transition: top 0.75s;
		z-index: 1000;


		&.visible {
			top: 0;
		}

		&.invisible {
			top: -69vh;
		}

	}




	#p5_loading {
		position: absolute;
		width: 0;
		height: 0;


		// .container {
		// 	position: absolute;
		// 	top: 50%;
		// 	left: 50%;
		// 	transform: translate(-50%, -50%);

		// 	img.logo {
		// 		width: 120px;

		// 	}
		// 	h1 {
		// 		@include fontFiraBlack(#000);
		// 	}
		// }

	}


	#assetsPreloadOverlay {
		position: absolute;
		width: 100%;
		height: 100%;
		z-index: 900;
		background-color: black;
		opacity: 0.9;
		transition: opacity 0.35s;

		&.invisible {
			opacity: 0.0;
		}

		&.seethrough {
			display: none;
		}

	}
	div.content {
		position: absolute;
		left: 0;
		top: 100px;
		width: 26%;
		padding-left: 30px;
		padding-right: 30px;

		h1 {
			@include fontFiraBlack(#000);
			font-size: 35px;
		}

		h2 {
			@include fontFiraReg(#000);
			// text-transform: uppercase;
			font-size: 18px;
			font-weight: 700;
			margin-top: 30px;
			  // font-style: italic;

		}

		p {
			@include fontFiraReg(#000);
			font-size: 16px;
			line-height: 26px;
		}

	}

	.receiver {
		position: absolute;
		left: 32%;
		top: 20px;
		z-index: 1000;


		h2 {
			@include fontFiraReg(#000);
			font-size: 16px;		
			display: inline-block;
		}

		#receiver_{
			width: 10px;
			height: 10px;
			border-radius: 100%;
			background-color: #fff;
			display: inline-block;

		}

	}

	img.logo {
		position: absolute;
		width: 120px;
		z-index: 998;
		left: 30px;
		top: 30px;
	}

	canvas {
		position: absolute;
		z-index: 1;
		background: url('../img/grid2.png');
		background-repeat: cover;
	}

	.grid {
		position: absolute;
		right: 0;
		width: 70%;
		height: 100vh;

	}

}