@font-face {
	font-family: 'inputMonoCompressed';
  	src: url('/fonts/InputMonoCompressed-Regular.ttf')  format('truetype');
}


body {
	position: relative;

	h1 {
		font-family: 'inputMonoCompressed', monospace;
		font-size: 32px;
		color: black;

		&.absolute {
			position: absolute;
			z-index: 999;
			left: 30px;
			top: 30px;
		}
	}


	canvas {
		position: absolute;
		z-index: 1;
	}
}